html, body, .full-screen-container {
    height: 100vh;
    margin: 0;
  }
  .full-screen-container {
    width: 100vw;
  }
  .swiper-slide img {
    object-fit: cover;
    width: 100%;
    height: 100vh;
  }

  .swiper, .swiper-wrapper, .swiper-slide {
    height: 100vh;
  }

  .overlay-text {
    background: rgba(0,0,0,0.5);
    border-radius: 10px;
    padding: 1rem;
  }

  .bg-cyan {
  background-color: var(--colorCyan) !important;
}
.text-cyan {
  color: var(--colorCyan) !important;
}
.text-negro {
  color: var(--colorNegro) !important;
}

.form-registro{
    max-width: 750px;
}

.dark-mode{
  position: absolute;
    z-index: 1000;
    right: 51%;
        top: 25px;
}

.dark-mode i{
  font-size: 25px;
}

@media (max-width: 1000px) {
  .carousel-container {
    display: none !important;
  }
 
  .dark-mode{
    right: 0;
  }

  .form-registro{
    width: 100%;
  }
}

